.sideBar {
  height: 500px;
  width: 300px;
  background-color: rgb(245, 231, 255);
  overflow-y: auto;
  padding: 10px;
  text-align: center;
  border-radius: 2.4%;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.container {
  margin-left: 20px;
  margin-right: 80px;
}

.sidebarList {
  list-style: none;
  padding: 0;
  align-items: center;
  box-shadow: 2em;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  margin: 0;
}

.sidebarListItem {
  opacity: 1;
  padding: 10px;
  margin-left: 10px;
  font-size: 20px;
  align-items: center;
}

.sidebarListItem:hover {
  transition: 50ms ease-in-out;
  opacity: 100%;
}
.sidebarList:hover {
  transition: 50ms ease-in-out;
  opacity: 0.5;
  background-color: black;
}
